html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.text_color {
    color: #f76b40; 
}

.font_bold {
    font-weight: bold;
}

.background_color {
    background-color: #f76b40;
}

.button_theme {
    color: #fff;
}

.margin_bottom_small {
    margin-bottom: 20px !important;
}

.padding_bottom_small {
    padding: 40px 0;
}

.header_text {
    text-align: center;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.headerNav {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.headerNav_link {
    text-decoration: none;
    color: #000;
    padding: 0px 15px !important;
}

.headerNav_link:hover {
    color: #000;
    background-color: transparent !important;
    border-bottom: 2px solid#f76b40;
    padding-top: -2px;
    margin-bottom: -2px;
    
}


.headerNav_link:focus {
    color: #000;
    background-color: transparent !important;
    border-bottom: 2px solid#f76b40;
    padding-top: -2px;
    margin-bottom: -2px;
    
}


.nav-item:hover {
}

.headerContacts {
    text-align: right;
}

.headerContacts_link:hover {
    color: #f76b40;
    text-decoration: none;
}

.headerContacts_text:hover {
    /* text-decoration: dashed; */
    text-decoration: dotted;
}

@media (min-width: 455px) {
    .header {
        flex-direction: row;
    }
}

/* banner */
.banner {
    color: #fff;
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top center;
    text-align: center;
    /* max-width: 100%; */
}

.bannerBlock{
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.bannerHeader {
    padding: 70px 0; 
}

.bannerHeader h1 {
    font-size: 22px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.requestForm {
    background-color: #f76b40;
    padding: 5px 10px;
    text-align: center;
}

.requestForm_input {
    color: #000;
    width: 100%;
    border-radius: 0;
}

.form-group {
    width: 100%;
    margin-right: 20px;;
}

.form-group:last-child {
    margin-right: 0px;
}


.form-group input::placeholder, select {
    color: #000;
    font-weight: bold;
}

.requestForm_button {
    color: #fff;
}

@media(min-width: 455px) {
    .requestForm {
        width: 75%;
        
        /* width: 50%; */
    }
}

@media(min-width: 600px) {
    .requestForm {
        width: 50%;
    }
}


@media(min-width: 992px) {
    .form {
        flex-direction: row;
    }

    .requestForm {
        width: 100%;
    }
}


/* our_services */
.ourService {
    height: 150px;
    color: #fff !important;
    /* background-size: cover; */
}

.ourService a {
    color: #fff !important;
    text-decoration: none;

}

.ourService a:hover {
    color: #fff !important;
    text-decoration: none;
}


.ourService_link {
    padding: 8px 40px;
}

.ourService_text {

}

.ourService_image {
    height: 100%;
    background-size: cover;
    max-width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    text-align: center;
    align-items: center;
    /* padding: 20px; */
}
/* 
@media(min-width: 455px) {
    .ourService {
        width: 45%;
    }
} */


/* our clients */

.owl-stage {
    display: flex;
}

.owl-item {
    /* display: inline-block; */
    /* float: left; */
    /* height: 150px; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.owl-item div {
    border: 2px solid #ececec;
    width: 150px;
    padding: 0 20px;
    box-sizing: content-box;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.owl-item div:hover {
    border: 2px solid #f76b40;
}


.owl-stage-outer {
    overflow:hidden;
    /* margin: 0 50px; */
}

.owl-carousel {
    /* padding:  0 50px; */
    /* padding:  0 120px; */
    text-align: center;
    position: relative;
}

.owl-nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -95px;
    color: #f76b40;
}

.owl-nav button {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    position: relative;
    border: 2px solid #ececec;
    background-color: transparent;
}

.owl-nav button:hover {
    border: 2px solid #f76b40;
    color: #f76b40;
}
/* 
.owl-nav button:active {
    border: 2px solid #f76b40;
    color: #f76b40;
} */

.owl-prev {
    /* left: -40px; */
}

.owl-next {
    /* left: 40px; */
}


.owl-stage-outer {
    /* border: 1px solid #ececec; */
}

/* .owl-stage-outer .active {
    border: 2px solid #f76b40;
} */

/* footer */

.footer {
    background-color: #1f2731;
    color: #fff;
    border-bottom:10px solid #f76b40;
    padding: 40px 0;
    text-align: center;
}

.footerNav {
    text-align: center;
    color: #f76b40;
}

.footerNav_link, .footerNav_link:hover, .footerContacts_link:hover{
    color: #fff;
    text-decoration: none;
}

.footerContacts, .footerLocation {
    text-align: center;
}

.headerPhone_number {
    font-size: 2.3rem;
}

.headerPhone_number:before {
    content: url('../images/whiteCall_icon.png');
    margin-right: 5px;
}

.footerContacts_link {
    color:#fff;
}

.footerContacts_text:hover {
    color: #f76b40;
    text-decoration: dashed;
}

.footerLocation_image:before {
    content: url('../images/location.png');
    margin-right: 5px;
}

@media (min-width: 455px) {
    .footerNav {
        display: flex;
        /* flex-direction: row; */
        justify-content: space-around;
    }

    .footerContacts {
        display: flex;
        justify-content: center;
    }

}

@media (min-width: 768px) {
    .navbar-nav {
        float: none;
    }
}
